/* paragraph tag design */
p {
    display: inline-block;
    font-weight:500;
}
/* label tag design */
label {
    font-weight: 500;
}
/* image class */
.image {
    max-height:100%; max-width:100%;
}
/* calculation class */
.calculation {
    background-color: bisque;
    max-height:100%; 
    max-width:100%;
    padding-bottom: 44px;;
}
